In [1]:
new_list=['a','b','c']

In [2]:
new_list

['a', 'b', 'c']

In [3]:
new_list.reverse()

In [5]:
new_list

['c', 'b', 'a']

In [8]:
new_list.sort()

In [9]:
new_list

['a', 'b', 'c']

In [10]:
my_dict={'key1':'mummy','key2':'raja','key3':'yashu'}

In [11]:
my_dict

{'key1': 'mummy', 'key2': 'raja', 'key3': 'yashu'}

In [13]:
my_dict['key3']

'yashu'

In [20]:
#LOOP

In [24]:
if 1<2:
    print('vep!')

vep!

In [28]:
1>2

False

2>1

In [29]:
2>1

True

In [30]:
a=20
b=40

In [31]:
a,b

(20, 40)

In [32]:
a+b

60

In [33]:
a-b

-20

In [34]:
my_string='my name is yash'

In [35]:
my_string

'my name is yash'

In [36]:
9my_string[0]

'm'

In [39]:
my_string[9:12]

's y'

In [40]:
len(my_string)

15

In [41]:
my_string.upper()

'MY NAME IS YASH'

In [42]:
my_string.replace('y','s')

'ms name is sash'

In [45]:
my_string.count('a')

2

In [51]:
tup1=(1,2,3)

In [52]:
tup2=(4,5,6)

In [53]:
tup1+tup2

(1, 2, 3, 4, 5, 6)

In [58]:
tup1*3+tup2

(1, 2, 3, 1, 2, 3, 1, 2, 3, 4, 5, 6)

In [60]:
tup3=(20,30,40,50)

In [61]:
min(tup3)

20

In [62]:
max(tup3)

50

In [63]:
l1=[1,'q',True]

In [64]:
import pandas as pd

In [70]:
pd.DataFrame({'subject':['hindi','sanskrit','science','social science','home science'],'MAX MARKS':[100,100,100,100,100,],'THEORY':[33,33,25,33,25],'PRACTICAL':['NIL','NIL',8,'NIL',8],'THEORY':[52,64,31,28,37],'IN FIGURES':[52,64,48,28,55]})

          subject  MAX MARKS  THEORY PRACTICAL  IN FIGURES
0           hindi        100      52       NIL          52
1        sanskrit        100      64       NIL          64
2         science        100      31         8          48
3  social science        100      28       NIL          28
4    home science        100      37         8          55